/* huisstijl:
primaire kleur: #FF3F00
secondaire kleur: #FFD580
tetriare kleur: #2A9D8F */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FF3F00;
}
.menukaart-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.menukaart-section{
    flex: 1 1 60%;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 100px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border: #FFD580 solid 2px;
    text-align: center;
    font-weight: bold;
}

.menukaart-section.pizza{
    background-image:
    linear-gradient(rgba(63, 194, 157, 0.7), rgba(63, 194, 157, 0.7)),
    url(Images/pizza.jpg);
}

.menukaart-section.pasta{
    background-image:
    linear-gradient(rgba(63, 194, 157, 0.7), rgba(63, 194, 157, 0.7)),
    url(Images/pasta.jpg);
}

.menukaart-section.antipasti{
    background-image:
    linear-gradient(rgba(63, 194, 157, 0.7), rgba(63, 194, 157, 0.7)),
    url(Images/antipasti.jpg);
}

.menukaart-section.glutenvrij{
    background-image:
    linear-gradient(rgba(63, 194, 157, 0.7), rgba(63, 194, 157, 0.7)),
    url(Images/glutenvrij.jpg);
}

.menukaart-section.vegetarisch{
    background-image:
    linear-gradient(rgba(63, 194, 157, 0.7), rgba(63, 194, 157, 0.7)),
    url(Images/vegetarisch.jpg);
}

.menukaart-section dt{
    font-size: large;
    margin-top: 10px;
}

.menukaart-section dd{
    margin-bottom: 10px;
}

.menukaart-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.menukaart-button{
    background-color: #FFD580;
    border-radius: 15px;
    padding: 15px;
}

.nav-links{
    /*hier komt de code voor het geheel van de links. verwijder deze comment voordat je pusht naar github*/
    display: flex;
    justify-content: center;

}

.nav-link{
    /*hier komt code voor de individuele links. verwijder deze comment voordat je pusht naar github*/
    padding: 10px;
    margin: 0px 10px;
}

.text-content{
    padding: 75px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0 black, -1px -1px 0 black;
}

.text{
    padding: 50px;
}

.background-inside{
    opacity: 0.8;
    background-image: url(Images/restaurantInside.jpg);
    height: 100%;
}